@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

body {
    font-family: 'Overpass Mono', monospace;
    color: white;
    background-color: black;
    height: 20vw;
    padding-bottom: -100px;
}

.header {
    height: 5vw;
    padding-top: 2vw;
    border-bottom: 2px dotted #2faced;
}

.footer {
    border-top: 2px dotted #2faced;
    height: 1vw;
    padding-top:1vw;
    margin-bottom: -20vw;
}

.map img {
    padding: 1vw;
    width: 100%;
    height: auto;
}

.container {
    padding-bottom: -100px;
}

.footer p{
  margin:0;
}

.text {
    padding: 1vw;
}

a, .collapse {
    color:#2faced;
}
a:hover {
    color:white;
}
